<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background: #fdfdfd;
        }

        @font-face {
            font-family: Segoe-UI;
            src: url(SEGOEUI.TTF);
        }

        .main-section {
            background-color: #FCFCFC;
        }

        .bnr-img {
            width: -webkit-fill-available;
            height: auto;
        }

        .footer {
            background-color: #363636;
        }

        .text-white {
            color: white;
        }

        .edit-text {
            color: #016fd0;
            display: block;
            text-align: right;
        }

        .form-control {
            background: transparent;
        }

        .next-btn {
            background: #C94F6E;
            border: none;
            padding: 10px 40px;
            color: #FDFCED;
        }

        .next-btn a {
            color: #FDFCED;
        }

        .main-content .wizard-form .progressbar-list::before {
            content: " ";
            background-color: rgb(155, 155, 155);
            border: 10px solid #fff;
            border-radius: 50%;
            display: block;
            width: 30px;
            height: 30px;
            margin: 9px auto;
            box-shadow: 1px 1px 3px #606060;
            transition: all;
        }

        .main-content .wizard-form .progressbar-list::after {
            content: "";
            background-color: rgb(155, 155, 155);
            padding: 0px 0px;
            position: absolute;
            top: 14px;
            left: -50%;
            width: 100%;
            height: 2px;
            margin: 9px auto;
            z-index: -1;
            transition: all 0.8s;
        }

        .main-content .wizard-form .progressbar-list.active::after {
            background-color: #C94F6E;
        }

        .main-content .wizard-form .progressbar-list:first-child::after {
            content: none;
        }

        .main-content .wizard-form .progressbar-list.active::before {
            content: "";
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            padding: 6px;
            background-color: white;
            border: 10px solid #C94F6E;
            box-shadow: 0 0 0 7.5px #C94F6E3b;
        }

        .w-16 {
            width: 16%;
        }

        .progressbar-list {
            color: #6f787d;
        }

        .active {
            color: #000;
        }

        /* card */
        .card img {
            width: 40px;
        }

        .card {
            border: 3px solid rgb(145 145 145);
            cursor: pointer;
        }

        .form-check-input:focus {
            box-shadow: none;
        }

        .bg-color-info {
            background-color: #C94F6E !important;
        }

        .border-color {
            border-color: #ececec;
        }

        .btn {
            padding: 16px 30px;
        }

        .bg-success-color {
            background-color: #87D185;
        }

        .bg-success-color:focus {
            box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
        }

        .content-text {
            font-size: 14px;
            color: #6e727d;
        }

        .fs-18 {
            font-size: 18px;
        }

        .fs-20 {
            font-size: 20px;
        }

        .text-disable {
            color: #9c9c9c;
        }

        .text-dark {
            color: black;
        }

        .bg-lightgray {
            background-color: #fdfdfd;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
        }

        select {
            padding: 5px 10px;
            background: #eeeeee;
            border-radius: 5px;
            border: 1px solid #c8c7c7;
        }

        .form-check-input {
            background: white;
            border: 1px solid #c8c7c7;
        }

        .form-check-input:checked {
            background-color: #c94f6e;
            border-color: #ffffffc9;
        }

        .form-check-input {
            background: white;
            border: 3px solid #c8c7c7;
        }

        .fs-12 {
            font-size: 12px;
        }

        .required {
            color: red;
        }

        .logo-img {
            width: 100px;
            height: auto;
        }

        .payment-card {
            background: white;
            box-shadow: 0 0 8px #0000000a;
            border-radius: 10px;
            width: 500px;
            margin: auto;
        }

        .link-txt a {
            color: #987bf1;
            text-decoration: none;
        }

        .credit-title img {
            width: 30px;
            height: 30px;
        }

        .pay-btn {
            width: -webkit-fill-available;
            background: #c94f6e;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }

        .pay-btn a {
            color: #fdfced;
        }

        .back-pay-btn {
            background: transparent;
            border: none;
            font-size: 20px;
            color: #065ba9;
        }

        .disable {
            background: #cccccc;
            color: black !important;
            pointer-events: none;
        }

        .error-message {
            color: red
        }

        @media only screen and (max-width:768px) {
            .copyright-text {
                grid-row: 2;
            }

            .d-grid {
                display: grid;
            }

            li {
                font-size: 12px;
            }
        }

        @media only screen and (max-width:515px) {
            .payment-card {
                width: auto;
            }
        }

        @media only screen and (max-width:450px) {
            .btn {
                padding: 10px;
            }

            li {
                font-size: 10px;
            }

            .content-text {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <section class="main-section">
        <div class="container p-4">
            <div class="logo-main-div mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="logo-img" src="images/Asset 4.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="bnr-main-div">
                <div class="row">
                    <div class="col-12">
                        <img class="bnr-img" src="images/Form_Cover_for_Chanukah_Registration_4 1.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="main-content">
                <!-- alert box -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <!-- svg -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <!-- /svg -->
                        <div class="alert alert-danger d-flex align-items-center mt-3 d-none mb-0" id="alertBox"
                            role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                Please complete required fields
                            </div>
                        </div>
                    </div>
                </div>
                <!-- alert box -->
                <!-- row -->
                <div class="row justify-content-center pt-0" id="wizardRow">
                    <!-- col -->
                    <div class="col-md-12 text-center">
                        <!-- wizard -->
                        <div class="wizard-form py-4 my-2">
                            <!-- ul -->
                            <ul id="progressBar" class="progressbar px-lg-5 px-0">
                                <li id="progressList-1"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Event Package</li>
                                <li id="progressList-2"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Room</li>
                                <li id="progressList-3"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Package Tickets</li>
                                <li id="progressList-4"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Dining Information</li>
                                <li id="progressList-5"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Booking Summary</li>
                                <li id="progressList-6"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Payment</li>
                            </ul>
                            <!-- /ul -->
                        </div>
                        <!-- /wizard -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <form action="" id="achForm">
                    <!-- ACH payment  -->
                    <!-- row -->
                    <div class="row justify-content-center form-business">
                        <!-- col -->
                        <div class="col-md-11">
                            <h3 class="fw-bold text-disable pt-5 mb-0 text-center">Total Billing Amount Of All Days
                                Event : </h3>
                            <h3 class="fw-bold pt-0 mb-0 text-center">$<%= amount %>
                            </h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="ach payment-card p-3 my-3" id="ach-card">
                                        <h3 class="fw-bold">
                                            ACH
                                        </h3>
                                        <p class="fw-semibold fs-20">
                                            Customer Information
                                        </p>
                                        <div class="row mb-3">
                                            <div class="col-12 col-md-6 mb-3">
                                                <input type="text" class="form-control" placeholder="Name" id="name"
                                                    value="" aria-label="Name" required>
                                                <span class="error-message" id="error-name"></span>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <input type="email" class="form-control" placeholder="Email" id="email"
                                                    value="" aria-label="Email" required>
                                                <span class="error-message" id="error-email"></span>
                                            </div>
                                            <div class="col-12 col-md-12 mb-3">
                                                <input type="text" class="form-control" placeholder="Address"
                                                    id="address" value="" aria-label="Address" required>
                                                <span class="error-message" id="error-address"></span>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <input class="form-control" list="datalistOptions" id="city"
                                                    placeholder="City" required>
                                                <span class="error-message" id="error-city"></span>
                                                <datalist id="datalistOptions">
                                                    <option value="San Francisco">
                                                    <option value="New York">
                                                    <option value="Seattle">
                                                    <option value="Los Angeles">
                                                    <option value="Chicago">
                                                </datalist>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <input class="form-control" list="datalistOptions" id="state"
                                                    placeholder="State" required>
                                                <span class="error-message" id="error-state"></span>
                                                <datalist id="datalistOptions">
                                                    <option value="San Francisco">
                                                    <option value="New York">
                                                    <option value="Seattle">
                                                    <option value="Los Angeles">
                                                    <option value="Chicago">
                                                </datalist>
                                            </div>
                                        </div>
                                        <p class="fw-semibold fs-20">
                                            Authorization
                                        </p>
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <input type="text" class="form-control" placeholder="Routing Number"
                                                    id="routing-number"
                                                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                    value="" aria-label="routing-number" required>
                                                <span class="error-message" id="error-routing-number"></span>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <input type="text" class="form-control" placeholder="Account Number"
                                                    id="account-number"
                                                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                    value="" aria-label="accont-number" required>
                                                <span class="error-message" id="error-accont-number"></span>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <input type="date" class="form-control" placeholder="Date" id="date"
                                                    value="" aria-label="date" required>
                                                <span class="error-message" id="error-date"></span>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <div class="d-flex">
                                                    <div class="form-check me-4">
                                                        <input class="form-check-input" type="checkbox" value="checking"
                                                            id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Checking
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="saving"
                                                            id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Saving
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ms-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault" required>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    I agree to the
                                                    <span class="link-txt"><a href="#">Terms & conditions,</a></span>
                                                    <span class="link-txt"><a href="#">Privacy policy</a></span> &
                                                    <span class="link-txt"><a href="#">Return policy</a></span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Update Booking Information and Confirmation on email
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="pay-btn fw-bold" onclick="validateACH()">
                                                Pay Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /cards -->
                        </div>
                        <!-- /col -->
                    </div>
                </form>
            </div>
            <!-- /main content -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->
    <section class="footer mt-3">
        <div class="container p-4">
            <div class="d-md-flex d-grid justify-content-between align-items-center">
                <p class="mb-0 mt-md-0 mt-3 text-white copyright-text">
                    Copyright <span>&copy</span> 2023 THe All Inclusive Pesach Retreat - All Rights Reserved.
                </p>
                <a href="" class="text-decoration-none text-white">
                    terms & conditions
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
<script>
    var achForm = document.getElementById('achForm');
    achForm.addEventListener('submit', function (event) {
        event.preventDefault();

        var nameValue = document.getElementById('name').value;

        var emailValue = document.getElementById('email').value;

        var addressValue = document.getElementById('address').value;

        var cityValue = document.getElementById('city').value;

        var routing_number = document.getElementById('routing-number').value;

        var account_number = document.getElementById('account-number').value;

        var stateValue = document.getElementById('state').value;

        var dateValue = document.getElementById('date').value;

        var flexCheckDefaultValue = document.getElementById('flexCheckDefault').value;
        const totalBillAmount = '<%= amount %>';
        const cid = '<%= cid %>';
        const cust_info = {
            name: nameValue,
            email: emailValue,
            address: addressValue,
            city: cityValue,
            state: stateValue,
            routing_number: routing_number,
            account_number: account_number,
            ach_date: dateValue,
            ach_type: flexCheckDefaultValue,
            amount: totalBillAmount,
            cid: cid
        }

        fetch('/createAchInfo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ cust_info: cust_info }),
        })
            .then(response => response.json())
            .then(data => {
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        window.location.href = '/success';
    });
</script>
<script>
    function validateACH() {

        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const address = document.getElementById('address').value;
        const city = document.getElementById('city').value;
        const state = document.getElementById('state').value;
        const routingNumber = document.getElementById('routing-number').value;
        const accountNumber = document.getElementById('account-number').value;
        const date = document.getElementById('date').value;

        if (!validateName(name)) {
            $('#error-name').html('Invalid Name');
        } else {
            $('#error-name').html('');
        }

        if (!validateEmail(email)) {
            $('#error-email').html('Invalid Email');
        } else {
            $('#error-email').html('');
        }

        if (!validateAddress(address)) {
            $('#error-address').html('Invalid Address');
        } else {
            $('#error-address').html('');
        }

        if (!validateCity(city)) {
            $('#error-city').html('Invalid City');
        } else {
            $('#error-city').html('');
        }

        if (!validateState(state)) {
            $('#error-state').html('Invalid State');
        } else {
            $('#error-state').html('');
        }

        if (!validateRoutingNumber(routingNumber)) {
            $('#error-routing-number').html('Invalid Routing Number');
        } else {
            $('#error-routing-number').html('');
        }

        if (!validateAccountNumber(accountNumber)) {
            $('#error-accont-number').html('Invalid Account Number');
        } else {
            $('#error-accont-number').html('');
        }

        if (!validateDate(date)) {
            $('#error-date').html('Invalid Date');
        } else {
            $('#error-date').html('');
        }

        return true;
    }

    function validateName(input) {
        if (input.length >= 3) {
            return true;
        } else {
            return false;
        }
    }

    function validateEmail(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateAddress(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateCity(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateState(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateRoutingNumber(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateAccountNumber(input) {
        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }

    function validateDate(input) {
        // const regex = /^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/(19|20)\d{2}$/;

        if (input.length != 0) {
            return true;
        } else {
            return false;
        }
    }
</script>

</html>