<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        @font-face {
            font-family: Segoe-UI;
            src: url(SEGOEUI.TTF);
        }

        .main-section {
            background-color: #FCFCFC;
        }

        .bnr-img {
            width: -webkit-fill-available;
            height: auto;
        }

        .footer {
            background-color: #363636;
        }

        .text-white {
            color: white;
        }

        .edit-text {
            color: #016fd0;
            display: block;
            text-align: right;
        }

        .form-control {
            background: transparent;
        }

        .next-btn {
            background: #C94F6E;
            border: none;
            padding: 10px 40px;
        }

        .next-btn a {
            color: #FDFCED;
        }

        .back-btn {
            background: transparent;
            border: none;
            font-size: 20px;
        }

        .logo-img {
            width: 100px;
            height: auto;
        }

        @media only screen and (max-width:768px) {
            .copyright-text {
                grid-row: 2;
            }

            .d-grid {
                display: grid;
            }
        }

        @media only screen and (min-width:767px) {
            form {
                width: 767px;
                border: 1px solid #e3e3e3;
                border-radius: 8px;
                padding: 30px;
            }
        }
    </style>
</head>

<body>
    <section class="main-section">
        <div class="container p-4">
            <div class="logo-main-div mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="logo-img" src="images/Asset 4.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="bnr-main-div">
                <div class="row">
                    <div class="col-12">
                        <img class="bnr-img" src="images/Form_Cover_for_Chanukah_Registration_4 1.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section class="main-section">
        <div class="container p-4">
            <div class="d-md-flex justify-content-center">
                <form action="/booking-info" method="POST">
                    <h2 class="text-center fw-bolder mb-4">
                        Booking Information
                    </h2>
                    <!-- <a href="" class="edit-text fw-bold text-decoration-none mb-3">
                        Edit details
                    </a> -->
                    <div class="row booking-row">
                        <div class="col-12 mb-4 col-md-6">
                            <input type="text" name="full_name" class="form-control" placeholder="Full Name"
                                aria-label="Full Name" value="riken" required>
                        </div>
                        <div class="col-12 mb-4 col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email"
                                value="rikenpanchal35@gmail.com" required>
                        </div>
                        <div class="col-12 mb-4">
                            <input type="text" name="address_line_1" class="form-control" placeholder="Address line 1"
                                aria-label="Address line 1" value="abc" required>
                        </div>
                        <div class="col-12 mb-4">
                            <input type="text" name="address_line_2" class="form-control" placeholder="Address line 2"
                                aria-label="Address line 2">
                        </div>
                        <div class="col-12 mb-4">
                            <input type="text" name="city" class="form-control" placeholder="City" aria-label="City"
                                value="New York" required>
                        </div>
                        <!-- <div class="col-12 mb-4 col-md-6">
                            <input class="form-control" list="datalistOptions" id="country" name="country"
                                placeholder="Country" required>
                            <datalist id="datalistOptions">
                                <option value="San Francisco">
                                <option value="New York">
                                <option value="Seattle">
                                <option value="Los Angeles">
                                <option value="Chicago">
                            </datalist>
                        </div> -->
                        <div class="col-12 mb-4 col-md-12">
                            <input class="form-control" list="datalistOptions" id="State" name="state"
                                placeholder="State" value="Los Angeles" required>
                            <datalist id="datalistOptions">
                                <option value="San Francisco">
                                <option value="New York">
                                <option value="Seattle">
                                <option value="Los Angeles">
                                <option value="Chicago">
                            </datalist>
                        </div>
                        <div class="col-12 mb-4 col-md-6">
                            <input type="text" class="form-control" name="zipcode" placeholder="Zip" aria-label="Zip"
                                value="123456" required>
                        </div>
                        <div class="col-12 mb-4 col-md-6">
                            <input type="tel" name="phone" class="form-control" placeholder="Phone" aria-label="Phone"
                                value="1234567890" required>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="next-btn fw-bold">
                            Next to Book Event
                        </button>
                    </div>
                </form>
            </div>
            <!-- <div class="text-center mt-3">
                <button type="submit" class="back-btn fw-bold">
                    <a href="index" class="text-decoration-none">
                        Back to website
                    </a>
                </button>
            </div> -->
        </div>
    </section>
    <section class="footer">
        <div class="container p-4">
            <div class="d-md-flex d-grid justify-content-between align-items-center">
                <p class="mb-0 mt-md-0 mt-3 text-white copyright-text">
                    Copyright <span>&copy</span> 2023 THe All Inclusive Pesach Retreat - All Rights Reserved.
                </p>
                <a href="" class="text-decoration-none text-white">
                    terms & conditions
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
<script>
    // Remove an item from localStorage
    localStorage.removeItem('selectEventData');
    localStorage.removeItem('selectedRoomsData');
    localStorage.removeItem('selectRoomsDataTotalPrice');
    localStorage.removeItem('selectRoomsDataTotalQuantity');
    localStorage.removeItem('selectedPackageTicket');
    localStorage.removeItem('diningTableData');
    localStorage.removeItem('guestInfo');

</script>

</html>