<div id="mail">
    <div>
        <table width="100%" style="background-color: rgba(247, 247, 247, 1)" bgcolor="#f7f7f7">
            <tbody>
                <tr>
                    <td></td>
                    <td width="600">
                        <div dir="ltr" style="margin: 0 auto; padding: 70px 0; width: 100%; max-width: 600px"
                            width="100%">
                            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <div>
                                            </div>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                style="background-color: rgba(255, 255, 255, 1); border: 1px solid rgba(222, 222, 222, 1); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); border-radius: 3px"
                                                bgcolor="#fff">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="top">

                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                width="100%"
                                                                style="background-color: rgba(127, 84, 179, 1); color: rgba(255, 255, 255, 1); border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; border-radius: 3px 3px 0 0"
                                                                bgcolor="#7f54b3">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding: 36px 48px; display: block">
                                                                            <h1 style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 30px; font-weight: 300; line-height: 150%; margin: 0; text-align: left; text-shadow: 0 1px rgba(153, 118, 194, 1); color: rgba(255, 255, 255, 1); background-color: inherit"
                                                                                bgcolor="inherit">Thank you for your
                                                                                order</h1>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top">

                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top"
                                                                            style="background-color: rgba(255, 255, 255, 1)"
                                                                            bgcolor="#fff">

                                                                            <table border="0" cellpadding="20"
                                                                                cellspacing="0" width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top"
                                                                                            style="padding: 48px 48px 32px">
                                                                                            <div style="color: rgba(99, 99, 99, 1); font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left"
                                                                                                align="left">

                                                                                                <p
                                                                                                    style="margin: 0 0 16px">
                                                                                                    Hi Ravi,</p>
                                                                                                <p
                                                                                                    style="margin: 0 0 16px">
                                                                                                    Just to let you know
                                                                                                    — we've received
                                                                                                    your order #1702,
                                                                                                    and it is now being
                                                                                                    processed:</p>

                                                                                                <p
                                                                                                    style="margin: 0 0 16px">
                                                                                                    Pay with cash upon
                                                                                                    delivery.</p>


                                                                                                <h2
                                                                                                    style="color: rgba(127, 84, 179, 1); display: block; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
                                                                                                    [Order #1702]
                                                                                                    (January 9, 2024)
                                                                                                </h2>

                                                                                                <div
                                                                                                    style="margin-bottom: 40px">
                                                                                                    <table
                                                                                                        cellspacing="0"
                                                                                                        cellpadding="6"
                                                                                                        border="1"
                                                                                                        style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; width: 100%; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif"
                                                                                                        width="100%">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th scope="col"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Product
                                                                                                                </th>
                                                                                                                <th scope="col"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Quantity
                                                                                                                </th>
                                                                                                                <th scope="col"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Price
                                                                                                                </th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; word-wrap: break-word"
                                                                                                                    align="left">
                                                                                                                    Standard
                                                                                                                    2
                                                                                                                    Double
                                                                                                                    Beds
                                                                                                                    <div>
                                                                                                                        <a href="https://efegdcg.r.af.d.sendibt2.com/tr/cl/Nec9vmhocM1Dc0J0uyfmRdh8ZLZLTOCL3LKBomgBe0HCPSQ2AL5F1s0QZSeW4aYROrzGC2Jk8Up9_xKphrK5QAUSQbdh6suWWF1DqUmonHAIkgykO4yRaEeBPrTTdB3lvmbVZ2fr675zcZ3yWZ8jKRkZYEcQdkoA38jnXEWqWzt8dAu4vh4fOtjxrrCQDNxavcymefdtDEkhzz5Kvh02d1ovaek77qA8Q4obJxrEc12a_83oYqBGxqTfMLYHni-SbSB-rAtfJiApkXiw3DF5kndnXXvP2ZdZThkU"
                                                                                                                            style="color: rgba(127, 84, 179, 1); font-weight: normal; text-decoration: underline">Shabbos
                                                                                                                            Package(All
                                                                                                                            Inclusive)</a><br><em><span>January
                                                                                                                                31</span></em><br><span>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                    <table>
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px; width:50%; ">
                                                                                                                                    <strong>Ticket
                                                                                                                                        ID</strong>
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    <strong>SHABBOS-21-ZE5WJY</strong>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Ages
                                                                                                                                    3
                                                                                                                                    to
                                                                                                                                    11
                                                                                                                                    $350.00
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    1
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Age
                                                                                                                                    12+
                                                                                                                                    Adults
                                                                                                                                    $450.00
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    1
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Additional
                                                                                                                                    Beds:
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Cot/Folding
                                                                                                                                    Bed
                                                                                                                                    $99
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Check-In
                                                                                                                                    Early:
                                                                                                                                    OPTIONAL
                                                                                                                                    UPGRADE
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Friday
                                                                                                                                    Check-in
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Security
                                                                                                                                    Code
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    a676321e11
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                    <table>
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px;width:50%;">
                                                                                                                                    <strong>Ticket
                                                                                                                                        ID</strong>
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    <strong>SHABBOS-22-OD6AP4</strong>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Ages
                                                                                                                                    Newborn
                                                                                                                                    to
                                                                                                                                    3
                                                                                                                                    FREE
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    1
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Security
                                                                                                                                    Code
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    7ce07d2f01
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                    <table>
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px;width:50%;">
                                                                                                                                    <strong>Ticket
                                                                                                                                        ID</strong>
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    <strong>SHABBOS-23-1KDYB3</strong>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Security
                                                                                                                                    Code
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    0619ea9af5
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif"
                                                                                                                    align="left">
                                                                                                                    3
                                                                                                                </td>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>5,685.00</span>
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; word-wrap: break-word"
                                                                                                                    align="left">
                                                                                                                    Standard
                                                                                                                    King
                                                                                                                    Bed
                                                                                                                    <div>
                                                                                                                        <a href="https://efegdcg.r.af.d.sendibt2.com/tr/cl/YLxDiJmNn2wB00n5cMtk8zhtOLNGLdGl_GBKGCOPGMyJxCtZqAbsz1YzOtpp5r77XYIU8--lc2xqCyVm22GZfsF-MAMuG2PmvXasO2RqOIW4YaF7mYxoNBPneoIA6s4ExXpnkZfEIIB61U9mNq6yCr6R5z_nNdsVwg92JDwNk-lOzed6hCWu2wL_8iC3RsZxVndjkBVzFqjADdklm-34uFF185K-6i1zxWJQxQciLr5rk8JZXi22eXeyMM-e8SAbHbWhyt-VYPdjvKZM2FYh7blTUkPK10EGCZIS"
                                                                                                                            style="color: rgba(127, 84, 179, 1); font-weight: normal; text-decoration: underline">Shabbos
                                                                                                                            Package(All
                                                                                                                            Inclusive)</a><br><em><span>January
                                                                                                                                31</span></em><br><span>






                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                    <table>
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px;width:50%;">
                                                                                                                                    <strong>Ticket
                                                                                                                                        ID</strong>
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    <strong>SHABBOS-24-4JXINW</strong>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    Security
                                                                                                                                    Code
                                                                                                                                </td>
                                                                                                                                <td
                                                                                                                                    style="padding: 12px">
                                                                                                                                    380f3b4901
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif"
                                                                                                                    align="left">
                                                                                                                    1
                                                                                                                </td>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); padding: 12px; text-align: left; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>1,895.00</span>
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                        </tbody>
                                                                                                        <tfoot>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border-top: 4px solid rgba(229, 229, 229, 1); border-right: 1px solid rgba(229, 229, 229, 1); border-bottom: 1px solid rgba(229, 229, 229, 1); border-left: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Subtotal:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border-top: 4px solid rgba(229, 229, 229, 1); border-right: 1px solid rgba(229, 229, 229, 1); border-bottom: 1px solid rgba(229, 229, 229, 1); border-left: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>7,580.00</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Standard
                                                                                                                    2
                                                                                                                    Double
                                                                                                                    Beds:
                                                                                                                    Age
                                                                                                                    12 -
                                                                                                                    Adults
                                                                                                                    $450.00:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>450.00</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Standard
                                                                                                                    2
                                                                                                                    Double
                                                                                                                    Beds:
                                                                                                                    Ages
                                                                                                                    3 to
                                                                                                                    11
                                                                                                                    $350.00:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>350.00</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Standard
                                                                                                                    2
                                                                                                                    Double
                                                                                                                    Beds:
                                                                                                                    Cot/Folding
                                                                                                                    Bed
                                                                                                                    $99:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>99.00</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Payment
                                                                                                                    method:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Cash
                                                                                                                    on
                                                                                                                    delivery
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <th scope="row"
                                                                                                                    colspan="2"
                                                                                                                    style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    Total:
                                                                                                                </th>
                                                                                                                <td style="color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1); vertical-align: middle; padding: 12px; text-align: left"
                                                                                                                    align="left">
                                                                                                                    <span><span>$</span>8,479.00</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tfoot>
                                                                                                    </table>
                                                                                                </div>

                                                                                                <br>You'll receive your
                                                                                                tickets in another
                                                                                                email.<table
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0"
                                                                                                    border="0"
                                                                                                    style="width: 100%; vertical-align: top; margin-bottom: 40px; padding: 0"
                                                                                                    width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td valign="top"
                                                                                                                width="50%"
                                                                                                                style="text-align: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; border: 0; padding: 0"
                                                                                                                align="left">
                                                                                                                <h2
                                                                                                                    style="color: rgba(127, 84, 179, 1); display: block; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
                                                                                                                    Billing
                                                                                                                    address
                                                                                                                </h2>

                                                                                                                <address
                                                                                                                    style="padding: 12px; color: rgba(99, 99, 99, 1); border: 1px solid rgba(229, 229, 229, 1)">
                                                                                                                    Ravi
                                                                                                                    Desai<br>Satyamev
                                                                                                                    Emenance<br>Sola<br>Montgomeri
                                                                                                                    100001<br>Arunachal
                                                                                                                    Pradesh,
                                                                                                                    India
                                                                                                                    <br><a
                                                                                                                        href="tel:7434253332"
                                                                                                                        style="color: rgba(127, 84, 179, 1); font-weight: normal; text-decoration: underline">7434253332</a>
                                                                                                                    <br>adminaspl@yopmail.com
                                                                                                                </address>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <p
                                                                                                    style="margin: 0 0 16px">
                                                                                                    Thanks for using
                                                                                                    poconos.igiene.in!
                                                                                                </p>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">

                                            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding: 0; border-radius: 6px">
                                                            <table border="0" cellpadding="10" cellspacing="0"
                                                                width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="2" valign="middle"
                                                                            style="border-radius: 6px; border: 0; color: rgba(138, 138, 138, 1); font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 12px; line-height: 150%; text-align: center; padding: 24px 0"
                                                                            align="center">
                                                                            <p style="margin: 0 0 16px">Poconos — Built
                                                                                with <a
                                                                                    href="https://efegdcg.r.af.d.sendibt2.com/tr/cl/l5bEVL1VzlOyGFNHfkzDLlB8-xFnY9Kg6kpkMDkqMbsQPUyMlxYP7FFZvc1EnKrYymzCviRJnYPzOwUDJ9QC0_0ob7Z-XS0XBIHwlTDVvN-KFUFdUsQ_SJFRGbU1vSKbyNfv9eFgRCAqBZ8UHznFRxoovUGVeMALDvVVMAVUY1uQkX3pl9Rb_hVQ0eMGQaCvn9kE_zFh_RYs-bus_gEXCyFcoRAHOYrpNZ3k7FTcLa1sb58ar_YK5T0cgK--ptnBnQb4Ow"
                                                                                    style="color: rgba(127, 84, 179, 1); font-weight: normal; text-decoration: underline">WooCommerce</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>



    </div>
</div>